# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log 
filescrash.log

# Terraform plan files
*.tfplan

# Ignore override files as they are usually specific to a local environment
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI-driven configuration files
.terraform
rcterraform.rc
# Sensitive variable files
*.tfvars.json

# Lock file used by Terraform 0.14+
.terraform.lock.hcl

# Ignore backup files created by the Terraform CLI
*.backup
*.plan
.terraform
.terraform.tfstate*

.My2KeyPair.pem
.MyKeyPair.pem
